heading h1 {
  position: fixed;
  background-color: #026aa7;
  width: 100%;
  height: 50px;
  text-align: center;
}
#root {
  position: absolute;
  top: 60px;
}
main h1 {
  text-align: center;
}
.boards {
  display: flex;
  /* background-color: red;    */
  flex-wrap: wrap;
  justify-content: space-around;
}
.board {
  border-style: solid;
  border-width: 5px;
  margin-bottom: 2rem;
  width: 20rem;
  height: 10rem;
  background-color: yellow;
}
.lists {
  display: flex;
  flex-wrap: nowrap;
  /* background-c olor: red; */
  width: fit-content;
}
.list {
  margin-right: 50px;
  margin-top: 44px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: grey;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}
.card {
  background-color: white;
  width: 90%;
  /* margin-left: 5%; */
}
.modalList {
  background-color: white;
  width: 90%;
}
